* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    border-bottom: 1px solid #ccc;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: #db4c3f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li {
    margin-left: 1rem;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 450px;
    margin: 2rem auto;
}

.container form {
    margin-top: 1.5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: 700;
    margin-bottom: .3rem;
}

.form-checkbox {
    flex-direction: row;
}

.form-control input,
.form-control textarea {
    padding: .5rem;
    border-radius: .2rem;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #db4c3f;
    color: #fff;
    padding: .7rem 1.5rem;
    font-weight: 700;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}

.task-list {
    list-style: none;
    margin-top: 1rem;
}

.task-list li {
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
}

.task-list .title {
    font-weight: 700;
    color: #db4c3f;
    transition: .5s;
    font-size: 1.2rem;
}

.task-list .title:hover {
    color: #333;
}

.title.done {
    text-decoration: line-through;
    color: #ccc;
}

.actions {
    display: flex;
}

.actions i {
    font-size: 1.5rem;
    margin-right: .5rem;
    color: #333;
}

.actions i:hover {
    color: #db4c3f;
}

.actions form {
    margin: 0;
}

.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}